<!DOCTYPE html>

<html>
    <head>
        <title>
CUSTOMER CHURN WEBSITE
        </title> 
        <link rel="stylesheet" 
        type="text/css" 
        href="static/css/style.css" >
        <link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >      
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    </head>
    <body>
<section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT US</a>
                          </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">SERVICES</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">OUR TEAM</a>
                    </li>
               
                  </ul>
                </div>
              </nav>
</section>
<!------Slideer----->
<div id="slider">
        <div id="headerSlider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
                  <li data-target="#headerSlider" data-slide-to="1"></li>
                  <li data-target="#headerSlider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                   
                    <div class="carousel-caption">
                            <h5>
                                    Need Help To Predict your Employee Salary ?
                            </h5>
                        </div>
                  </div>
                  <div class="carousel-item">
                    
                    <div class="carousel-caption">
                        <h5>
                               Just enter employee details
                        </h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                             
                    <div class="carousel-caption">
                            <h5>
                                    The predicted employee salary will be displayed
                            </h5>
                        </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
</div>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6"> <h2>Our Service</h2>
            <div class="about-content">
                      -Create a user-friendly interface which will help companies to predict employee salaries based on different parameters
                      -built a simple prototype to demonstrate how we will develop real industry level solutions.
                      -->  This prototype helps to predict employee salaries based on trainign data in 'hiring.csv' file using Machine Learning model.

                     
                     
            </div>

             <a href="upload.html" >Demo >></a>
            </div>
            <div class="col-md-6 skills-bar">
                    <h6>The prediction of employee salaries based on :</h6> 
            <p> Experience</p>
            <div class="progress">
                <div class="progress-bar" style="width:90%;"></div>
            </div>
            <p> Test Score</p>
            <div class="progress">
                <div class="progress-bar" style="width:50%;"></div>
            </div>
            <p>Interview Score</p>
            <div class="progress">
                <div class="progress-bar" style="width:70%;"></div>
            </div>

</div>
</div>
</section>


       

<section id="team">
        <div class="container">
                <h1> OUR TEAM</h1>
                <div class="row">


<div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                <img src="/static/images/ayoub.jpg" class="img-responsive">

</div>
<h2>Ayoub Bargeoui </h2>

</div>
<div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                <img src="/static/images/hamza.jpg" class="img-responsive">

</div>
<h2>Hamza Ben Jomaa</h2>

</div>


<div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                <img src="/static/images/samar.jpg" class="img-responsive">

</div>
<h2>Samar Chabbi </h2>

</div>

<div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                <img src="/static/images/sarra.jpg"  class="img-responsive">

</div>
<h2>Sarra Zwawi </h2>

</div>
<div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                <img src="/static/images/khalil.jpg" class="img-responsive">

</div>
<h2>Khalil Mohamed </h2>

</div>
 </div>

</section>



</body>
</html>